.box_Container {
  background-image: url("/images/auth/bg-login.png");
}

.box_Container::after {
  content: "";
  background-image: url("/images/auth/bg5.png");
  bottom: 0;
  left: auto;
  top: auto;
  right: 0;
  position: absolute;
  width: 240px;
  height: 970px;
  z-index: -1;
}

.box_Container::before {
  content: "";
  background: rgba(100, 151, 255, 0.3);
  filter: blur(200px);
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  width: 770px;
  height: 617px;
  z-index: -1;
}
.video-container {
  position: relative;
  width: 100vw; /* full viewport width */
  height: 50vh; /* half of the viewport height */
  max-width: 600px; /* this might not be necessary with the width set to 100vw, but you can adjust as needed */
  overflow: hidden;
}

.video_content {
  display: block;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
}

.wavy_top,
.wavy_bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%; /* adjust as needed */
  background: url("/wavy-border.svg") repeat-x;
  z-index: 10;
}

.wavy_top {
  top: 0;
  transform: scaleY(-1); /* to flip the SVG for the top border */
}

.wavy_bottom {
  bottom: 0;
}
